.card {
    margin: 5px;
    width: 48%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,.35);
    background-color: transparent;
    cursor: pointer;
    &:hover {
      background-color: rgba(250, 235, 215, 0.3);
    }
  };
  
  .text {
    display: block;
    text-align: start;
    overflow: hidden;
  }
  
  .image {
    float: left;
    margin: 2px;
    text-align: start;
    width: 50%;
    overflow: hidden;
    max-width: 250px;
  }
  
  .img {
    margin: 3px;
    display: block;
    object-fit: fill;
    max-width: 200px;
    max-height: 170px;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .title {
    text-align: center;
    font-size: 18px;
    color: #F90B6D;
    text-decoration: none
  };

  .stepper {
    background-color: transparent;
    text-align: start;
    max-width: 200px;
    border-radius: 6px;
  }