@import "src/App.scss";

.category {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 40px -20px;
    border-radius: 10px;
};

.err {
    display: grid;
    gap: 10px;
}; 

.section {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

.text {
    margin: 15px;
    display: flex;
    align-items: center;
}

.img {
    width: 80px;
    height: 80px;
    margin-left: 25vw;
    margin-right: 20px;
    border-radius: 50%;
    padding: 2px;
    overflow: hidden;
    object-fit: cover;
}

.link:active,
.link {
    text-align: center;
    text-decoration: none;
    color: rgb(102, 102, 102);
    width: fit-content;
}

@include breakpoint (md) {
    .img {
        margin-left: 20vw;
    };
};

@include breakpoint (sm) {
    .text {
        margin: 10px 0 10px 0;
    };
    .category {
        font-size: 16px;
    };
    .img {
        width: 60px;
        height: 60px;
        margin-left: 15vw;
    };
};

@include breakpoint (xs) {
    .text {
        margin: 10px 0 10px 0;
    };
    .category {
        font-size: 14px;
    };
    .img {
        width: 50px;
        height: 50px;
        margin-left: 10vw;
        margin-right: 10px;
    };
};

@include breakpointMin (lg) {
    .text {
        margin: 2%;
    };
    .category {
        font-size: 22px;
    };
    .section {
        font-size: 22px;
    };
    .img {
        width: 100px;
        height: 100px;
    };
};