@import "src/App.scss";

.err {
    display: grid;
    gap: 10px;
}; 

.back {
    display: flex;
    font-size: 18px;
    margin: 10px auto 10px 13%;
};

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 40px -20px;
    border-radius: 10px;
};

@include breakpoint (sm) {
    .cards {
        width: 85%;
    };
    .back {
        font-size: 14px;
    };
};

@include breakpoint (s) {
    .cards {
        width: 95%;
    };
    .back {
        font-size: 12px;
    };
};

@include breakpointMin (lg) {
    .back {
        font-size: 20px;
    };
};