@import "src/App.scss";

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 40px -20px;
    border-radius: 10px;
};

.back {
    display: flex;
    font-size: 18px;
    margin: 10px auto 10px 13%;
};

.err {
    display: grid;
    gap: 10px;
};

.scrollto {
    background: #f2d9f66c;
    border: 1px solid #f2d9f638;
    border-radius: 50%;
    font-size: 30px;
    position: fixed;
    top: 15px;
    right: 4%;
    cursor: pointer;
};

.search {
    height: 70px;
    overflow: hidden;
};

@include breakpoint (sm) {
    .scrollto {
        right: 1%;
        font-size: 22px;
    };
    .search {
        height: 50px;
    };
    .cards {
        width: 85%;
    };
    .back {
        font-size: 14px;
    };
};

@include breakpoint (s) {
    .scrollto {
        right: 0px;
        font-size: 16px;
    };
    .cards {
        margin-right: 40px;
        width: 95%;
    };
    .back {
        font-size: 12px;
    };
};

@include breakpointMin (lg) {
    .scrollto {
        font-size: 36px;
    };
    .back {
        font-size: 20px;
    };
}