@import "src/App.scss";

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
};

.err {
    display: grid;
    gap: 10px;
};

.open {
    background: #f2d9f66c;
    border: 1px solid #f2d9f638;
    border-radius: 50%;
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 4%;
    cursor: pointer;
};

.search {
    height: 70px;
    overflow: hidden;
};

@include breakpoint (sm) {
    .open {
        top: 5px;
        right: 3%;
    };
    .search {
        height: 50px;
    };
    .cards {
        width: 85%;
    };
};

@include breakpoint (s) {
    .open {
        display: none;
    };
    .cards {
        width: 95%;
    };
};

@include breakpointMin (lg) {
    .open {
        font-size: 36px;
    };
    // .search {
    //     height: 100px;
    // };
}