@import "src/App.scss";

.tabs {
    text-align: center;
    padding-top: 30px;
    min-height: auto;
}

.tab {
    font-size: 20px;
    padding: 0;
    margin-left: 3%;
    margin-right: 3%;
    text-transform: none;
}

.user {
    color: #ec407a;
    display: inline;
    margin: 0;
    margin-bottom: 10px;
}

.boxHi {
    font-size: 18px;
    position: absolute;
    top: 5px;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo {
    position: absolute;
    top: 15%;
    right: 3%;
    min-width: auto;
}

.hidden {
    padding: 4px 0 4px 10px;
    @include breakpointMin (sm) {
        display: none;
    }
}

@include breakpoint (sm) {
    .tab {
        font-size: 16px;
    };
    .boxHi {
        top: 15%;
    };
    .user,
    .visible {
        display: none;
    };
};

@include breakpoint (xs) {
    .tab {
        font-size: 14px;
    };
};

@include breakpointMin (lg) {
    .tab {
        font-size: 26px;
    };
    .logo,
    .boxHi {
        font-size: 22px;
    }
};