@import "src/App.scss";

.tabs {
    text-align: center;
    padding-top: 30px;
    min-height: auto;
}

.tab {
    font-size: 18px;
    padding: 0;
    margin-left: 3%;
    margin-right: 3%;
    text-transform: none;
}

.user {
    color: #ec407a;
    display: inline;
    margin: 0;
    margin-bottom: 10px;
}

.boxHi {
    font-size: 16px;
    position: absolute;
    top: 5px;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo {
    position: absolute;
    top: 15%;
    right: 3%;
    min-width: auto;
}

.hidden {
    padding: 4px 0 4px 10px;
    @include breakpointMin (sm) {
        display: none;
    }
}

.img {
    position: absolute;
    top: 10px;
    width: 180px;
    height: 90px;
    border-radius: 8%;
    background: transparent;
    transform: rotate(-25deg);
};

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background: linear-gradient(0deg, rgba(159,216,237,1) 0%, rgba(255,204,188,1) 100%);    border: 2px solid #000;
    border-radius: 2%;
    box-shadow: 0 0 50px 5px;
};

@include breakpoint (sm) {
    .tab {
        font-size: 16px;
    };
    .boxHi {
        top: 15%;
    };
    .user,
    .visible {
        display: none;
    };
    .img {
        width: 120px;
        height: 70px;
    };
    .modal {
        height: 55%;
        width: 55%;
    };
};

@include breakpoint (xs) {
    .tab {
        font-size: 14px;
    };
    .img {
        width: 80px;
        height: 50px;
        top: -5px;
        left: -10px;
    };
    .modal {
        height: 50%;
        width: 65%;
    }
};

@include breakpointMin (lg) {
    .tab {
        font-size: 22px;
    };
    .logo,
    .boxHi {
        font-size: 18px;
    };
    .img {
        width: 250px;
        height: 120px;
    };
};