.header {
    width: 100%;
}

.main {
    margin-top: 20px;
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: auto;
    padding-top: 20px;
}

.tabs {
    text-align: center;
    padding-top: 30px;
}

.user {
    color: #ec407a;
    text-transform: uppercase;
    display: inline;
}