@import "src/App.scss";
.form {
    text-align: center;
    position: relative;
    padding: 15% 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: overlay;

}

.login {
    font-size: 18px;
    font-family: cursive;
}

.button {
    margin-left: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    box-shadow: 3px -2px 20px -4px;
    border-radius: 6px;
    padding: 0 1px 4px 5px;
    cursor: pointer;
    font-size: 16px;
    &:hover {
        background-color: #d398ac;
    }
}

.input {
    background-color: transparent;
    margin: 10% 20px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ec407a;
    border-radius: 8px;
    width: 50%;
    text-align: center;
};

@include breakpoint (sm) {
    .form {
       padding: 15% 10px;
    };
    .login {
        font-size: 16px;
    };
    .input {
        width: 80%;
        font-size: 14px;
    }
};

@include breakpoint (xs) {
    .login {
        font-size: 12px;
    };
    .button {
        font-size: 12px;
    };
    .input {
        margin: 10% 10px;
        font-size: 12px;
    };
};

@include breakpointMin (lg) {
    .form {
        padding: 10% 10px;
    };
    .login {
        font-size: 22px;
    };
    .button {
        font-size: 18px;
    };
    .input {
        margin: 8% 20px;
        font-size: 22px;
    };
};