.form {
    text-align: center;
}

.login {
    font-size: 18px;
}
.button {
    margin-left: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    &:hover {
        background-color: #a2d89375;
    }
}

.input {
    background-color: transparent;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #a2d893;
    width: 30%;
}